# mod_rewrite starts here

 RewriteEngine on

 # does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!

 RewriteCond %{REQUEST_FILENAME} !-d

 # Check for file in directory with .html extension

 RewriteCond %{REQUEST+FILEMAME}/.html -f

 # Here we actually show the page that has the .html extension

 RewriteRule ^(.*)$ $1.html [NC,L]

 # Redirect /onboarding to https://omnilabs.ai/onboarding
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI}/ beta
RewriteRule ^(.*) http://omnilabs.ai/%{REQUEST_URI} [R=302,NC]
RewriteRule ^(.*) http://omnilabs.ai/onboarding/%{REQUEST_URI} [R=302,NC]